.buttonSet a,
.buttonSet button {
  margin: 10px 2px;
}

.textList label,
#gameList {
  width: 100%;
}

/* Keep the links and generated data floating at the bottom of the screen */
.floatBottom {
  position: fixed;
  width: 100%;
  bottom: 4px;
}

.react-select__menu-list,
#generatedAt {
  color: var(--gray);
}

/* The remove button ('x') on each React-Select element; color it red to signify that it's a Danger action */
.react-select__multi-value__remove,
.react-select__indicators > .react-select__clear-indicator {
  color: var(--danger);
}
