.streamThumbnail img {
  width: 100%;
}

.gameThumbnail {
  max-width: 90px;
  width: 100%;
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  font-weight: bold;
}

.streamTitle {
  font-style: italic;
  text-overflow: clip;
}
