.streamThumbnail img {
  width: 100%;
}

.gameThumbnail {
  max-width: 90px;
  width: 100%;
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  font-weight: bold;
}

.streamTitle {
  font-style: italic;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 68px;
}

#loadingIndicator {
  /* Display this on top of the Directory */
  position: absolute;
  top: 1em;
  z-index: 1;

  /* Allow the loading text to appear next to the indicator */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Hide the indicator by default */
  transition: opacity 1000ms 500ms; /* Property, duration, and delay. Do nothing for 500ms, and then fade-out over the span of 1 sec*/
  opacity: 0;
}

/**/
#loadingIndicator.show {
  transition: opacity 0ms 500ms; /* Property, duration, and delay. After .5s, completely show the indicator*/
  opacity: 1;
}

#loadingIndicator .sk-spinner {
  color: var(--green);
}

#loadingIndicator span {
  margin-left: 10px;
  color: var(--dark);
}

.bottomLinks * {
  padding: 4px;
  margin: 4px;
}
