.streamCell {
  display: grid;
  grid-template-areas:
    "streamThumb streamThumb"
    "gameThumb basicDetails"
    "extraDetails extraDetails";
  grid-template-rows: 110px 45px 1fr;
  grid-template-columns: 30px 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 4px;
}

.streamThumbnail {
  grid-area: streamThumb;
  margin-bottom: 30px;
}

.gameThumbnail {
  grid-area: gameThumb;
}

.streamBasicDetails {
  grid-area: basicDetails;
}

.streamExtraDetails {
  grid-area: extraDetails;
}

.streamThumbnail img {
  width: 100%;
}

.gameThumbnail {
  width: 100%;
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  font-weight: bold;
}

.streamTitle {
  font-style: italic;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 68px;
}
